.aside {
    display: none;
    grid-column: -2 / -1;
    grid-row: 1 / auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 7px;
    position: fixed;
    width: 90%;
    z-index: 1;
    animation-name: fadeIn;
    animation-duration: 0.6s;
    transform-origin: left top;
    @media (min-width: 540px) {
        display: block;
        grid-row: 1 / -1;
        position: relative;
        width: 100%;  //fill the column
    }
    &.showHide {
        display: block;
    }
    
    &__container {
        position: sticky;
        top: 0;
        width: 100%;
    }
    h3 {
        font-weight: 500;
        margin-bottom: 0;
    }
    .search {
        position: relative;
        input {
            width: 100%;
            height: 2.75rem;
            padding: 0.25rem;
            border: 2px solid #becfdf;
            border-radius: 5px;
            background-color: transparent;
            font-family: 'Rubik';
            font-size: 0.875rem;
            font-weight: 400;
            @media (min-width: 900px){
                font-size: 1rem;
            }
            &:focus {
                outline: none;
                background-color: #fff;
                border-color: #a2d5f2;
            }
        }
        img {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 17px;
        }
    }
    .vault {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;

        
        &__pokemon {
            position: relative;
            border-radius: 5px;
            margin: 4px;
            width: calc(25% - 8px);
            height: auto;
            animation-name: fadeIn;
            animation-duration: 0.6s;
            .vault__image {
                display: block;
                width: 100%;
                cursor: pointer;
            }
            &:hover .remove {
                display: flex;
            }
            .remove {
                position: absolute;
                top: 3%;
                right: 3%;
                cursor: pointer;
                display: none;
                animation: fadeIn 0.5s;
                width: 25%;
                justify-content: flex-end;
                padding: 0;
                img {
                    margin: 0;
                    max-width: 100%;
                    display: block;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}