.header {
    background-color: #fff;
    height: 9vh;
}
.header__container {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 9vh;
    padding: 0 15px;
    @media (min-width: 768px) {
        padding: 0 30px;
    }
    h2 {
        font-weight: 500;
        margin: 0;
    }
}