.pokedex {
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    @media (min-width: 540px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(18, auto);
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, auto);
        gap: 0.75rem;
    }
    @media (min-width: 1080px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 1rem;
    }
}

.pagination {
    text-align: center;
    padding: 30px;
    button {
        font-family: 'Rubik';
        border-radius: 5px;
        cursor: pointer;
        border: none;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        margin: 10px;
        &:hover {
            background-color: #393b44;
            color: #ffffff;
        }
        &:focus {
            outline: none;
        }
    }
}