.pokedex {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1rem;
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 250px);
    }
    @media (min-width: 1080px) {
        grid-template-columns: repeat(4, 270px);
    }
    @media (min-width: 1440px) {
        grid-template-columns: repeat(4, 300px);
    }
    
}