.pokemon {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    .pokemon__img {
        img {
            width: 100%;
            height: auto;
        }
    }
    h4 {
        margin: 0.5rem 0;
        text-align: center;
    }
}